In [1]:
! pip install psycopg2

Requirement already satisfied: psycopg2 in /usr/local/lib/python3.10/dist-packages (2.9.9)

In [2]:
import pandas as pd
import psycopg2
from psycopg2 import sql

# Replace these variables with your actual database credentials
dbname = 'dibimbing'
user = 'dibimbing_read'
password = 'dibimbing-2024'
host = 'ep-flat-mouse-a5xmvitt.us-east-2.aws.neon.tech'
port = '5432'

# Create a connection to the PostgreSQL database
conn = psycopg2.connect(
    dbname=dbname,
    user=user,
    password=password,
    host=host,
    port=port
)

# Create a cursor object to interact with the database
cursor = conn.cursor()

# Replace 'your_table' with the actual table name
table_name = 'mahasiswa'

# Build and execute a SQL query to select all rows from the table
query = sql.SQL("SELECT * FROM {}").format(sql.Identifier(table_name))
cursor.execute(query)

# Fetch all the rows
rows = cursor.fetchall()

# Get the column names from the cursor description
columns = [desc[0] for desc in cursor.description]

# Create a Pandas DataFrame from the query result
df = pd.DataFrame(rows, columns=columns)

# Display the DataFrame
print(df)

# Close the cursor and connection
cursor.close()
conn.close()

   nim  nama  tinggi_badan
0    1  Octa         170.0
1    2  Imam         175.0